html {
  --black: #0e0b0b;
  /* --red: #db2d20; */
  --pinkish-white: hsl(330, 100%, 98%);
  --bee-yellow: #ffd50080;
  --butterfly-purple: #ac4e82;

  --neon-orange: rgb(224, 150, 40);
  --neon-green: #bada55;

  --grass-green: RGB(149, 198, 35);
  --forest-green: #37480d;
  --wood-brown: RGB(87, 51, 25);
  --water-blue: RGB(4, 67, 137);
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  background-color: var(--black) !important;
  color: white;
  overflow-x: hidden;
}
#lobby-view {
  padding: 0 !important;
}
