html {
  /* THEME */
  --black: #0e0b0b;
  --white: #f2f4f3;
  --gunmetal: #22333b;
  --bee-yellow: #ffd500;
  --butterfly-purple: #fc65b8;
  /* UTILITY */
  --white-btn-outline: #fff5fa;
  --neon-orange: #e09628;
  --neon-green: #bada55;
  /* UNUSED */
  --green: #95c623;
  --forest-green: #37480d;
  --wood-brown: #573319;
  --water-blue: #044389;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
  background-color: var(--black) !important;
  color: white;
  overflow-x: hidden;
}
.app-theme {
  color: var(--white);
}
#lobby-view {
  padding: 0 !important;
}
